.App {
  text-align: center;
}
button {
  background-color: darkseagreen;
  padding: 35px;
  font-size: 20px;
  border: 2px solid white;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
}